Source: erlang-xmerlrpc
Maintainer: Stanislaw Klekot <dozzie@jarowit.net>
Section: erlang
Priority: extra
Build-Depends: debhelper (>> 7.0.0), erlang-base, erlang-dev

Package: erlang-xmerlrpc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base, erlang-xmerl
Recommends: erlang-x11 | erlang-nox
Description: XML-RPC client and server for Erlang
 XML-RPC client and server for Erlang

Package: erlang-xmerlrpc-doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XML-RPC client and server for Erlang - API documentation
 XML-RPC client and server for Erlang.
 .
 This package contains API documentation generated out of xmerlrpc's sources.
